body{
     background-color:#fff6f5;
     -webkit-user-drag: none;
     -khtml-user-drag: none;
     -moz-user-drag: none;
     -o-user-drag: none;
     user-select: none;
     -moz-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     -o-user-select: none;
}


.main{
     .background-image-1{
          height: 800px;
          background-position-y: center;
          width: 100%;
          position: absolute;
          z-index: -100;
     }
}

.navbar{
     width: 100%;
     height: 500px;
     img{
          height: 70px;
     }
}

.btn-go:hover{
     background-color: #f03d3d !important;
}

.more{
     font-weight: bold;
     &:hover{
     color: rgb(163, 163, 163);
     text-decoration: none;
     }
}

.btn-search{
     border-color: white;
     color: white;
     background-color: rgba(98, 98, 98, 0.349);
    
     img{
          width: 20px;
          height: auto;
     }
     &:hover{
          background-color: rgb(129, 129, 129) !important;
          border-color: rgb(129, 129, 129) !important;
     }
}

.nasa-logo img{
     height: 60px; 
     width: auto;
     -webkit-user-select: none;
}

.rover-name{
     display: flex;
     color: white;
     
     font-size: 45px;
     margin-top: 400px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.first-row{
     display: flex;
     justify-content: space-around;
}

.first-r{
     h5{
          font-weight: bold;
          font-size: medium;
          color: rgb(255, 69, 44);
     }
     p{
          color: white;
          margin: 0;
     }

     text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.second-navbar{
     h1{
          color: white;
          position: absolute;
     }
     padding-top: 25px;
     background-color: #ed4c41;
     display: flex;
     justify-content: center;
     
}


.main-news-slider{
     h1{
          color: #742e0c;
          font-weight: bold;
     }

     .btn .btn{
          background-color: #ed4c41;
          color: white;
          font-weight: bold;
          width: 120px;
     }
     background-color:#fff6f5;
     height: 600px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     div{
     position: relative;
     }
     
}

.align-middle{
     display: flex;
     align-items: center;
}
.previous-btn-2nd{
     padding: 15px 0 30px 0;
     width: 65%;
     display: flex;
     justify-content: center;

}

.connect-middle{
     height: 350px; 
     padding: 0 20px;
}
.btn-all-news .btn{
     background-color: #ed4c41;
     color: white;
}
.curiosity-findings-page{
     display: flex;
     flex-direction: column;
     align-items: center;
     position: absolute;
     color: white;
     z-index: 1;
}
.background-image-2 img{
     width: 100%;
     height: 700px;
     object-fit: cover;
}
.col-9{
     display: flex;
     align-items: center;
     justify-content: flex-end;
     margin-bottom: -30px;
}
.mars-card{
     margin-left: -100px;
     background-color: white;
}

.dropdown .nasa-planet-icon{
     background-color: transparent;
}


//Drop Down
.dropbtn,.dropbtn-part-2 {
     background-color: transparent;
     color: white;
     padding: 10px;
     font-size: 16px;
     border: none;
}
   
.dropdown{
     position: relative;
     display: inline-block;
}
   
.dropdown-content {
     display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}

.carousel-control-prev{
     padding-right: 150px;
     margin-top: auto;
}

.carousel-control-next{
     padding-left: 150px;
     padding-top: auto;
}

.second-slider-flex{
     display: flex;
     justify-content: space-between;
     .card-middle{
          margin: 0 15px;
     }
   }

//second slider icons color
.icon{
     fill: #ed4c41;
}

.sc-navdesk-go{
     visibility: hidden;
}
html, body {
     overflow-x: hidden;
   }
   body {
     position: relative;
   }

   .first-carosel-mobile{
     margin-top: -160px;
}

.main-mobile{
     position: absolute;
     visibility: hidden;
}

//mobile media query

@media (max-width: 450px){

     .container{
      margin-top: -30px;
     }

     .newsletter-left {
          width: 100% !important;
          display: flex !important;
          flex-direction: column !important;
          justify-content: center !important;
          text-align: center !important;
     }

     .main-mobile{
          visibility: visible;
          width: 100%;
          height: 500px;
          padding-top: 70px;
          img{ 
               object-position: center;
               width: 100%;
               height: 500px;
          }
     }

     .background-image-1{
          visibility: hidden;
     }
    
    .second-navbar{
         position: absolute;
         visibility: hidden;
    }
    .media-filler{
         text-align: center;
         height: 500px;
         
         
    }
    .media{
     display: contents !important;
    }
    
    .col-6{
         padding-top: 80px;
         max-width: none;
         img{
          width: -webkit-fill-available !important;
         }
    }
     
     main
     .second-row{
          color: white;
          text-align:center;
          display: flex;
          h5{
               font-size: 12px;
          }
          p{
               font-size: 10px;
          }
          width: 100% ;
          padding-right: 320px;
          margin-top: -100px;
          justify-content: center;

     }
     
     .second-r{
         display: flex;
         flex-direction: column;
     }
     .sc-navdesk-go{
          visibility: hidden;
     }
     .mobile-go{
          visibility: visible;
     }
     .carousel-control-prev, .carousel-control-next{
          padding: 18px !important;
     }
     .mobile .nasa-mobile-logo{
          width: 200px;
          height: auto;
          padding-top: 20px;
     }
     .main-news-slider{
          height: 670px;
          margin-bottom: -40px;
     }
     .information{
          display: flex;
          justify-content: center;
          flex-direction: column;
          box-sizing: unset !important;
          h1{
               font-size: xx-large !important;
          }
          span{
               
               font-size: medium !important;
          }
     }  
}
.mobile{
     .btn:hover {
          background-color: transparent;
     }
     .btn{
          box-shadow: none;
     }
     .dropdown-menu{
          width: 100%;
          a{
               text-align:center;
          }
     }
}

//ipad media query
@media (max-width: 680px){
     .information{
          width: auto !important;
     }
     .second-navbar{
          visibility: hidden;
     }
     .carousel-control-prev{
          margin: 0 !important;
     }

     .carousel-control-next{
          margin: 0 !important;
     }

     .newsletter-left {
          width: 100% !important;
          display: flex !important;
          flex-direction: column !important;
          justify-content: center !important;
          text-align: center !important;
         .mb-3{
               margin: auto;
         } 
     }
     .second-row{
          padding-bottom: 20px;
          color: white;
          text-align:center;
          display: flex;
          h5{
               font-size: 14px;
          }
          p{
               font-size: 12px;
          }
          width: 100%;
          padding-top: 10px;
          justify-content: space-evenly;
     }
     .second-r{
         display: flex;
         flex-direction: column;
          h5{
               font-weight: bold;
               color: rgb(255, 69, 44);
          }
          p{
               color: white;
               margin: 0;
          }
          text-align: center;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     }
     .sc-navdesk-go{
          visibility: visible;
          display: flex;
          justify-content: center;
     }
     .first-carosel-mobile{
          margin-bottom: -60px;
     }
     .mobile-go{
          visibility: hidden;
     }
     .media{
          max-width: none;
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
     }
     .media-1 { 
          padding-right: 15px;
          width: 100% !important;
          img{
               max-width: 200%;
               height: auto;
          }
     }
     .media-filler .container{
          height: 700px;
     }
     .blank{
          position: absolute;
     }
     .container{
          max-width: auto ;
     }
}

//medium desktop media query
@media (max-width: 1201px) {
     .container{
          max-width: auto ;
     }
      .information{

          padding: 0 !important;

          h1{
               font-size: xxx-large;
          }
          span{
               
               font-size: large;
          }
     }
     .carousel-control-prev{
          margin: 20px;
          padding: 0 20px;
          margin-top: -140px;
     }
     .carousel-control-next{
          margin: 20px;
          padding: 0 0px;
          margin-top: -140px;
     }
     .first-page{
          height: 600px;
     }

     .second-navbar{
          .dropdown .mobile-disable{
               pointer-events: none; 
          }
     }

     .second-carosel-mobile{
          visibility: visible;    
     }
     .card-mobile-go,.carousel-control-sc, .carousel-sc-prv, .media-2{
          visibility: hidden;
     }

     .media-1{
          img{
               height: auto;
               width: fit-content;
          }
     }

     .main{
          height: auto;
          width: 100%;
          img{
               margin-top: -70px;
               object-fit: cover;
               object-position: center;
          }
     }

     .navbar{
          width: 100%;
          img{
               height: 70px;
          }
     }
     .col-9, .nasa-logo{
          position: absolute;
          visibility: hidden;
     }
     .nasa-logo-mobile{
          img{
               height: 50px;
               width: auto;
          }
          margin-top: -230px;
     }

     .newsletter-left{
          .input-group{
          width: 220px !important;
          }
     }
     
     .nav-response{
          .dropdown-mobile{
               position: absolute;
               visibility: hidden; 
          }
          svg{
               fill: white;
          }
          .mob-content{
               position: absolute;
               display: flex;
               flex-direction: column;
               .img-drop-mob{
                    p{
                         padding-left: 100px;
                         margin-top: -50px;
                         color: white;
                         font-weight: bold;
                         font-size: x-large;
                    }
               }
               img{
                    margin-top: -70px;
                    margin-left: 10px;
               }
               .btn-group{
                    padding-top: 15px;
                    background-color: transparent ;
                   
               }
               .btn{
                    padding-left: 50px;
                    
                    color: white;
                    font-size: x-large;
                    display: flex;
               }
               visibility: hidden;
               position: absolute;
          }
          .hamburger-btn {
                    display: flex;
                    align-items: center;
                    padding-left: 98%;
                    margin-top: -33px;
               svg{
                    position: absolute;
                    background-color: transparent;
               }

               .mobile{
                    img{
                         position: absolute;
                         visibility: hidden;
                    }
               }

               #btnControl {
                    display: none;
                }
                input[type=checkbox] {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                 }
                 label { 
                   position: absolute;
                   background-color: red;
                   z-index: 111;
                 }
                 .mobile-drop-content{
                      position: absolute;
                      visibility: hidden;
                 }
                 
                 /* Toggled State */
                 input:checked + div {
                    .btn {
                         display: flex;
                         justify-content: space-between;
                         
                    }
                    .dropdown-toggle{
                         padding-left: 20%;
                         position: absolute;
                         padding-left: 74%;
                    }
                    hr {
                         margin: 0 auto;
                         width: 80%;
                         border: 0;
                         height: 1px;
                         background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(192, 232, 255, 0.75), rgba(255, 255, 255, 0));
                     }
                    .mob-content{
                         visibility: visible;
                         position: unset;
                         margin-top: 150px;
                    }
                    .mobile-drop-content{
                         visibility: visible;
                    }
                         img{
                              visibility: visible;
                         }

                    .nasa-logo-2nd{
                         visibility: visible;
                    }
                    position: fixed;
                    z-index: 100;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                   background-color:#601e18;
                 }
                 

                
               #btnControl {
                    display: none;
                }       
          }
          .active{
               background-color: red;
          }
     }
     }
     
//large desktop devices
@media (min-width: 1200px){
     .navbar{
          height: 800px;
     }
     .carousel-control-prev{
          padding-bottom: 50px;
     }
     .carousel-control-next{
          padding-bottom: 50px;
     }
     .first-row{
          margin-bottom: 30px;
     }
     .nav-response{
          visibility: hidden;

     }
     .second-navbar{
          margin-top: -20px;
     }   
}


.black-layer img{
     opacity: 80%;
     position: absolute;
     width: 100%;
     height: 700px;
     object-fit: cover;
     
}

.new-articles{
     background-color: #ed4c41;
     color: white;
     font-size: medium;
     &:hover{
          background-color: #fcafa9 ;
          color: white;
     }
}

.information{
     h1{
          font-family: 'Quicksand', sans-serif;
          font-size: 50px;
     }
     span{
          font-family: 'Quicksand', sans-serif;
     };
}

//media
.media{
     height: 650px;
     padding-top: 7%;
}

.media-1{
     h3{
          padding-bottom: 2%;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
          color: #782e0c;
          font-size: 33px;
          
     }
     p{
          padding-top: 2%;
          font-family: 'Quicksand', sans-serif;
          font-weight: 500;
          font-size: large;
     }
}

.media-2{
     h3{
          padding-bottom: 2%;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          color: #782e0c;
          font-size: 33px;
     }
     ul{
          padding: 0;
     }
     li {
          display: flex;
     }
     img{
          padding-right: 2%;
          width: 150px;
     } 
     .text{
          padding-left: 20px;
          p{
               padding-top: 10px;
               font-family: 'Quicksand', sans-serif;
               font-weight: 500;
               font-size: large;
          }
     }
     padding-left: 9%;
}

.media-filler{
     background-color: #edecec;
}

//web-footer

.web-footer{
     display: flex;
     justify-content: center;
     color: white;
     background-image: url('/img/footer_bg.png');
     background-position: bottom;
     background-size: cover;
}
.newsletter {

     .newsletter-left , .newsletter-right{
          display: flex;
          flex-direction: column;
          align-items: center;
          
     }

     padding-top: 80px;
     width: 50%;

     display: flex;
     justify-content: space-between;   
}

.newsletter-right{
     color: #a8d8ee;
     
}

.ending-footer-upp{
     display: flex;
     justify-content: center;

     padding: 50px 0 0 0;
     span{
          padding: 0  10px;
     }
}
.ending-footer-down{
     display: flex;
     justify-content: center;
}


.newsletter-left{
     width: 75%;
     margin: 0 auto;
     img{
          width: 50px;
          height: auto;
     }
     .child-twoo{
          display: flex;
          flex-direction: column;
          .child-two-img{
               img{
                    margin: 0 10px;
               }
               display: flex;
               justify-content: center;
          }
     }

     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     padding: 60px 0px;

     .form-control{
          background-color:#2b353e;
          border-color: #2b353e;
          caret-color: white;
          
          &:focus{
               box-shadow: none;
          }
     }
     
     .btn:hover{
          background-color: #2b353e;
     }
     color: #a8d8ee;
     .input-group{
          padding-top: 3.2%;
     }
}

.links{
     width: 100%;
     
     hr {
          margin: 0 auto;
          width: 50%;
          border: 0;
          height: 1.6px;
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(192, 232, 255, 0.75), rgba(255, 255, 255, 0));
      }
      h3{
           padding: 40px 0;
           display: flex;
           justify-content: center;
      }
}

.links-content{     
     display: flex;
     justify-content: center;
     .name-links{     
          div{
          display: inline-flex;
          width: 170px;
          }
     }
     
     ul{  
          width: 150px;
          h5 a{
               color: white;
               &:hover{
                    text-decoration: none;
                    color: #dbedff;
               }
          }
     }
     li{
          a{ 
               font-size: 18px;
               color: #7dbaf9;
               font-family: Arial, Helvetica, sans-serif;
               font-weight: lighter;
          }
          &:hover a{
               text-decoration: none;
               color: #fff;
          }
          list-style: none;
     }
}

//ending footer
.ending-footer-upp{
     ul{
          display: flex;
          justify-content: space-evenly;
     }
     a{
          font-size: 15px;
          color: #7dbaf9;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: lighter;
          text-decoration: none;
          &:hover{
               color: white;
          }
     }
     span{
          color: #7dbaf9;
     }
     li{
          list-style: none;
     }
}
.ending-footer-down{
     p{
          font-size: 18px;
          color: #b2d8fd;
          font-family: 'Quicksand', sans-serif;
          font-weight: bold;
          padding: 0 50px;
          
     }
     padding-bottom: 100px;
}

//universal
.btn:hover{   
     background-color: #f36b61;
}

.dropdown button{
     font-weight: bold;
}

.dropdown-content a{
     color: black;
     padding: 12px 36px;
     text-decoration: none;
     display: block;
     &:hover{
          background-color: #dddd;
     }
}

.dropdown:hover .dropdown-content{
     display: block;
}

.dropdown:hover .dropbtn-part-2,.dropdown-content{
     background-color: white;
     color: #9d2926;  
}

